body {
  background: black;
}

a {
  color: #4a6da7;
}
ul {
  list-style-type: none;
}

li {
  overflow: hidden;
  height: 125px;
  width: 220px;
  margin: 10px;
  padding: 10px;
  float: left;
  background: #292929;
}

li.active {
  background: white;
}

img {
  max-height: 200px;
  max-width: 200px;
}

#files {
  margin-bottom: 100px;
  display: block;
  float: left;
}

.video-controls {
  background: #4a6da7;
}

.video-controls a i {
  color: white;
  font-size: 60px;
}

.video-controls a.small i {
  font-size: 30px;
}

.video-controls a.option-off i {
  color: #444;
}
